h1,h2{
    text-align: center;color: white;
}
body{
    background-color: black;
}
p{
    color: white;
}
nav a{
    font-size: 40px;border:10px solid yellow;
    text-decoration:none;background-color:yellow;
    border-radius:5px;color:blue;margin:50px;
}
img{
    margin:75px;border:4px dashed blue;
}
nav{
    text-align:center;
}




.poroda{
    text-align: left;color: rgb(241, 227, 100);
}





